<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pic</string>
		<key>icon</key>
		<string>chat_bar_icons_pic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>location</string>
		<key>icon</key>
		<string>chat_bar_icons_location</string>
	</dict>
	<dict>
		<key>name</key>
		<string>namecard</string>
		<key>icon</key>
		<string>chat_bar_icons_location</string>
	</dict>
	<dict>
		<key>name</key>
		<string>background</string>
		<key>icon</key>
		<string>chat_bar_icons_pic</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
	<dict>
		<key>name</key>
		<string>camera</string>
		<key>icon</key>
		<string>chat_bar_icons_camera</string>
	</dict>
</array>
</plist>
