<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SixNews.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ABE524121C0C268E0036A4A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE5242B1C0C268F0036A4A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ABE524361C0C268F0036A4A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
